#mainContainer{
    margin-top: 10px;
}

h1{
    text-align: center;
    margin-bottom: 80px;
}

#workspace, #numpad_space{
    padding-top:10px;
    width:50%;
}

#numpad_space{
    border: 2px solid green;
}



#numpad{
    display: flex;
    flex-flow:row wrap;
    width:200px;
}

.digit{
    width:50px;
    height:50px;
    margin:5px;
    
    background-color: darkblue;
    color:white;
    
    text-align: center;
    
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.digit:hover{
    background-color: grey;
}

#num_0{
    width:55% !important;
}

.button_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin-bottom:5px;
}

button:hover{
    background-color: darkblue;
    color:white
}

.funct_btn{
    width:150px !important;
}


li{
    margin-top: 5px;
}

.ignored{
    color:red;
}